<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--LINKS-->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/css/utils.css">
    
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    
    <link rel="stylesheet" type="text/css" href="/css/styles-tablet.css">
    <link rel="stylesheet" type="text/css" href="/css/styles-laptop.css">

    <!-----------------
        FIN DE LINKS
    ------------------>
    
    <title>Mercado Liebre</title>
</head>
<body class="bg-lightgrey">
    <header class="bg-yellow p-8">
        <h1>
            <img src="/img/logo-mercado-liebre.svg" alt="Logo Mercado Libre">
        </h1>
        <p>Lugar para poner la barra de búsqueda</p>
        <p class="text-center">
            <i class="fas fa-hand-holding-usd"></i>
            Comprá en cuotas y sin tarjeta de crédito</p>
        <nav class="nav-bar">
            <ul class="nav-list">
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul class="nav-list">
                <li><a href="">Creá tu cuenta</a><i class="far fa-id-card"></i></li>
                <li><a href="">Ingresá</a><i class="fas fa-sign-in-alt"></i></li>
                <li><a href="">Mis Compras</a><i class="fas fa-shopping-basket"></i></li>
            </ul>
                <div class="burger-menu">
                    <i class="fas fa-bars"></i>
                </div>
        </nav>
    </header>
    <img src="/img/img-home-banner.jpg" width="100%" alt="Promoción fiestas">
    <main class="bg-lightgrey p-8 w-90 m-center">
        <section>
            <h2 class="titulares-size mb-8">Basado en tu última visita</h2>
            <article class="product mb-8" bg-white>
                <img
                    src="/img/img-cafetera-moulinex.jpg"
                    width="100%"
                    alt="Cafetera Moulinex"
                    />
                <div class="p-15 bt-grey">
                    <i class="fas fa-truck font-green truck-icon"></i>
                    <p class="font-large">$6.770</p>
                    <p class="font-medium font-green">40% OFF</p>
                    <h3 class="product-title font-medium">Cafetera Moulinex</h3>
                </div>
            </article>
            <article class="product mb-8">
                <img src="/img/img-macbook-pro-2019.jpg" width="100%" alt="MacBook Pro 2019">
                <div class="p-15 bt-grey">
                    <i class="fas fa-truck font-green truck-icon"></i>
                    <p class="font-large">$230.000</p>
                    <p class="font-medium font-green">20% OFF</p>
                    <h3 class="product-title font-medium">MacBook Pro 2019</h3>
                </div>
            </article>
            <article class="product mb-8">
                <img src="/img/img-samsung-galaxy-s10.jpg" width="100%" alt="Samsung Galaxy S10">
                <div class="p-15 bt-grey">
                    <i class="fas fa-truck font-green truck-icon"></i>
                    <p class="font-large">$70.500</p>
                    <p class="font-medium font-green">10% OFF</p>
                    <h3 class="product-title font-medium">Samsung Galaxy S10</h3>
                </div>
            </article>
            <article class="product mb-8">
                <img src="/img/img-tv-samsung-smart.jpg" width="100%" alt="SmartTv Samsung 43">
                <div class="p-15 bt-grey">
                    <i class="fas fa-truck font-green truck-icon"></i>
                    <p class="font-large">$23.200</p>
                    <p class="font-medium font-green">5% OFF</p>
                    <h3 class="product-title font-medium">SmartTv Samsung 43"</h3>
                </div>
            </article>
        </section>
        <section>
            <h2 class="titulares-size">Sección de Ofertas</h2>
            <article class="product mb-8">
                <img src="/img/img-cafetera-moulinex.jpg" width="100%" alt="Cafetera Moulinex">
                <div class="p-15 bt-grey">
                    <i class="fas fa-truck font-green truck-icon"></i>
                    <p class="font-large">$6.770</p>
                    <p class="font-medium font-green">40% OFF</p>
                    <h3 class="product-title font-medium">Cafetera Moulinex</h3>
                </div>
            </article>
            <article class="product mb-8">
                <img src="/img/img-macbook-pro-2019.jpg" width="100%" alt="MacBook Pro 2019">
                <div class="p-15 bt-grey">
                    <i class="fas fa-truck font-green truck-icon"></i>
                    <p class="font-large">$230.000</p>
                    <p class="font-medium font-green">20% OFF</p>
                    <h3 class="product-title font-medium">MacBook Pro 2019</h3>
                </div>
            </article>
            <article class="product mb-8">
                <img src="/img/img-samsung-galaxy-s10.jpg" width="100%" alt="Samsung Galaxy S10">
                <div class="p-15 bt-grey">
                    <i class="fas fa-truck font-green truck-icon"></i>
                    <p class="font-large">$70.500</p>
                    <p class="font-medium font-green">10% OFF</p>
                    <h3 class="product-title font-medium">Samsung Galaxy S10</h3>
                </div>
            </article>
            <article class="product mb-8">
                <img src="/img/img-tv-samsung-smart.jpg" width="100%" alt="SmartTv Samsung 43">
                <div class="p-15 bt-grey">
                    <i class="fas fa-truck font-green truck-icon"></i>
                    <p class="font-large">$23.200</p>
                    <p class="font-medium font-green">5% OFF</p>
                    <h3 class="product-title font-medium">SmartTv Samsung 43"</h3>
                </div>
            </article>
        </section>
    </main>
    <footer class="p-8 bg-white">
        <section class="text-center">
            <i class="fas fa-credit-card font-lightblue icon-font mb-10 mt-50"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section class="text-center">
            <i class="fas fa-gift font-lightblue icon-font mb-10 mt-50"></i>
            <h3>Envío gratis desde $2500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section class="text-center">
            <i class="fas fa-user-shield font-lightblue icon-font mb-10 mt-50"></i>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
        </section>
        <section class="text-center">
            <p class="mt-50">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
</body>
</html>