<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--LINKS-->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/css/utils.css">

    <link rel="stylesheet" type="text/css" href="/css/styles.css">

    <link rel="stylesheet" type="text/css" href="/css/styles-tablet.css">
    <link rel="stylesheet" type="text/css" href="/css/styles-laptop.css">

    <!-----------------
            FIN DE LINKS
        ------------------>

    <title>Login</title>
</head>
<body class="bg-lightgrey">
    <header class="bg-yellow p-15">
        <div class="main-header-top-bar p-10">
            <img src="/img/logo-mercado-liebre.svg" alt="Logo Mercado Libre" class="logo">
            <div class="search-box">
                <input type="text" name="search-bar" class="input-search" placeholder="Buscar productos, marcas y más">
                <button class="search-button">
                    <i class="fas fa-search"></i>
                </button>
            </div>
            <p class="compra-en-cuotas font-medium">
                <i class="fas fa-hand-holding-usd p-10"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </p>
        </div>
        <nav class="nav-bar">
            <ul class="nav-list">
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul class="nav-list">
                <li><a href="/register" class="mr8">Creá tu cuenta</a><i class="far fa-id-card"></i></li>
                <li><a href="/login" class="mr8">Ingresá</a><i class="fas fa-sign-in-alt"></i></li>
                <li><a href="" class="mr8">Mis Compras</a><i class="fas fa-shopping-basket"></i></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <main class="bg-lightgrey p-8 w-90 m-center">
        <form action="" class="formulario">
            <div class="mt-10">
                <label for="nombreUsuario">
                    <input class="input-general" type="text" name="nombreUsuario" placeholder="Usuario">
                </label>
            </div>
            <div class="mt-10">
                <label for="contrasena">
                    <input class="input-general" type="password" name="contrasena" placeholder="Contraseña">
                </label>
            </div>
            <button type="submit" class="mt-10">Enviar</button>
        </form>
    </main>
</body>
</html>