@media (min-width: 481px) {
    .grupo-articulos {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .grupo-articulos article {
        max-width: 47.5%;
    }

    .formulario {
        max-width: 450px;
        margin: 0 auto;
    }

    .main-header-top-bar {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}