/*-----------------------------
GENERALES
------------------------------*/

h1 {
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 12;
}

/*--------------------------------
NAVIGATION
----------------------------------*/

.nav-bar {
    display: none;
}

.nav-list {
    padding: 0;
}

.nav-list li {
    list-style: none;
}

.nav-list li a {
    color: black;
    text-decoration: none;
}

/*------
FONTS
--------*/

.font-heading {
    font-size: 24px;
}

.font-large {
    font-size: 18px;
}

.font-medium {
    font-size: 16px;
}

.icon-font {
    font-size: 2em;
}

/* -----------------------
COLORES
--------------------------
*/

.font-white {
    color: white;
}

.bg-white {
    background-color: white;
}

.font-yellow {
    color: #EAC926;
}

.bg-yellow {
    background-color: #EAC926;
}

.font-blue {
    color: #03264C;
}

.bg-blue {
    background-color: #03264C;
}

.font-lightblue {
    color: #1259c3;
}

.bg-lightblue {
    background-color: #1259c3;
}

.font-darkgrey {
    color: #666;
}

.bg-darkgrey {
    background-color: #666;
}

.font-lightgrey {
    color: #ebebeb;
}

.bg-lightgrey {
    background-color: #ebebeb;
}

.font-green {
    color: #39b54a;
}

.bg-green {
    background-color: #39b54a;
}

/*---------------------------------------
MENÚ HAMBURGUESA - ICONO - SHADOW
----------------------------------------*/

.burger-menu{
    text-align: center;
    font-size: 20px;
}

.burger-menu i {
    padding: 5px;
    color: white;
    background-color: #1259c3;
    height: 32px;
    width: 32px;
    margin: auto;
    border-radius: 15%;
}

.truck-icon {
    padding: 4px;
    height: 30px;
    width: 30px;
    font-size: 18px;
    border: 1px solid #39b54a;
    border-radius: 50%;
    background-color: #FFF;
    display: block;
    position: absolute;
    right: 20px;
    top: -15px;
}

.product {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    background-color: white;
    width: 97.5%;
    margin: 1.25%;
}

.bt-grey {
    border-top: 1px solid #ebebeb;
}

.precio-descuento {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.precio {
    margin-right: 5px;
}

.descuento {
    margin-left: 5px;
}

.grupo-articulos article {
    max-width: 100%;
    margin-bottom: 15px;
}

.main-header-top-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.logo {
    width: 50%;
    height: 42px;
}

.search-box {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.input-search {
    width: 75%;
    height: 41px;
    padding: 15px;
    border: none;
    border-radius: 5px 0 0 5px;
}

.search-button {
    width: 36px;
    height: 41px;
    border-left: solid 1px #ebebeb;
    border-right: 0;
    border-top: 0;
    border-bottom: 0;
    border-radius: 0 5px 5px 0;
    background-color: #FFF;
}

.search-button i {
    color: #666;
}

.formulario {
    max-width: 100%;
    border-radius: 6px;
}

.input-general {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #FFF;
    box-shadow: 0px 0px 3px #666;
}

.input-file {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    font-size: 16px;
    border: none;
}

.mensaje-error {
    color: red;
    font-style: italic;
    margin-bottom: 10px;
}

.botones-register {
    width: 47.5%;
    padding: 5px;
    background-color:  #1259c3;
    color: #FFF;
    border: none;
    border-radius: 5px;
}

.grupo-botones-register {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.boton-login {
    width: 100%;
    padding: 5px;
    background-color: #1259c3;
    color: #FFF;
    border: none;
    border-radius: 5px;
}