.p-8 {
    padding: 8px;
}

.p-10 {
    padding: 10px;
}

.p-15 {
    padding: 15px;
}

.b-1 {
    border-style: solid;
    border-width: 1px;
}

.b-circle {
    border-radius: 50%;
}

/*---------------------------
WIDTH
---------------------------*/

.w-100 {
    width: 100%;
}

.w-90 {
    width: 90%;
}

.w-50 {
    width: 50;
}

/*---------------------------
POSITION
---------------------------*/

.relative {
    position: relative;
}

/*---------------------------
MARGIN
---------------------------*/

.m-center {
    margin: 0 auto;
}

.m-8 {
    margin: 8px
}

.mt-8 {
    margin-top: 8px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-50 {
    margin-top: 50px;
}

.mb-8 {
    margin-bottom: 8px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mr10 {
    margin-right: 10px;
}

.mr8 {
    margin-right: 8px;
}

.ml10 {
    margin-left: 10px;
}

/*---------------------------
TEXT
---------------------------*/

.text-center {
    text-align: center;
}